@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: oklch(0.9551 0 0);
    --foreground: oklch(0.3211 0 0);
    --card: oklch(0.9702 0 0);
    --card-foreground: oklch(0.3211 0 0);
    --popover: oklch(0.9702 0 0);
    --popover-foreground: oklch(0.3211 0 0);
    --primary: oklch(0.4891 0 0);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.9067 0 0);
    --secondary-foreground: oklch(0.3211 0 0);
    --muted: oklch(0.8853 0 0);
    --muted-foreground: oklch(0.5103 0 0);
    --accent: oklch(0.8078 0 0);
    --accent-foreground: oklch(0.3211 0 0);
    --destructive: oklch(0.5594 0.1900 25.8625);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.8576 0 0);
    --input: oklch(0.9067 0 0);
    --ring: oklch(0.4891 0 0);
    --radius: 0.35rem;
    --chart-1: oklch(0.4891 0 0);
    --chart-2: oklch(0.4863 0.0361 196.0278);
    --chart-3: oklch(0.6534 0 0);
    --chart-4: oklch(0.7316 0 0);
    --chart-5: oklch(0.8078 0 0);
  }

  .dark {
    --background: oklch(0.2178 0 0);
    --foreground: oklch(0.8853 0 0);
    --card: oklch(0.2435 0 0);
    --card-foreground: oklch(0.8853 0 0);
    --popover: oklch(0.2435 0 0);
    --popover-foreground: oklch(0.8853 0 0);
    --primary: oklch(0.7058 0 0);
    --primary-foreground: oklch(0.2178 0 0);
    --secondary: oklch(0.3092 0 0);
    --secondary-foreground: oklch(0.8853 0 0);
    --muted: oklch(0.2850 0 0);
    --muted-foreground: oklch(0.5999 0 0);
    --accent: oklch(0.3715 0 0);
    --accent-foreground: oklch(0.8853 0 0);
    --destructive: oklch(0.6591 0.1530 22.1703);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.3290 0 0);
    --input: oklch(0.3092 0 0);
    --ring: oklch(0.7058 0 0);
    --chart-1: oklch(0.7058 0 0);
    --chart-2: oklch(0.6714 0.0339 206.3482);
    --chart-3: oklch(0.5452 0 0);
    --chart-4: oklch(0.4604 0 0);
    --chart-5: oklch(0.3715 0 0);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
